@model Grunk.Web.UI.Models.CreatedReviewsViewModel
@{
    ViewBag.Title = "Create";
}
<h1>
    Din anmeldelse er skrevet</h1>
<p>
    Din anmeldelse er blevet gemt, men den bliver først vist når DJ Grunk har godkendt
    den!
</p>
