@model LoginDetailsViewModel
Logged ind som @Model.Name 
<a href="@Url.Action("LogOut", "Home")" class="btn btn-primary btn-mini" style="margin-left:10px; margin-top:-2px;"><i class="icon-white icon-off"> </i> Log ud</a>