@model IndexContactViewModel
@{
    ViewBag.JavaScriptValidation = true;
}
<div class="row contact">
    <div class="cell-one">
        <h1>
            @Model.Text.Header</h1>
            @Html.Raw(Model.Text.HtmlText)
    </div>
    <div class="cell-two">
        @{
            Html.RenderAction("Information");
        }
        @if (TempData["Send"] != null && (bool)TempData["Send"] == true)
        {
            <section class="contact-form">
                <h2>
                    Sendt</h2>
                <p>
                    Beskeden er blevet sendt til os, og vi svarer tilbage hurtigst muligt
                </p>
            </section>
        }
        else
        {
            Html.RenderPartial("_SendMailForm", Model.MailForm);
        }
    </div>
</div>
